<div class="form-group">
  <select class="form-control" (change)="onSelectService($event)">
    <option value=""></option>
    <option *ngFor="let service of services" [value]="service.Id">{{ service.Name }}</option>
  </select>
  <select class="form-control" (change)="onSelectDirection($event)">
    <option value=""></option>
    <option *ngFor="let direction of directions" [value]="direction.Id">{{ direction.Name }}</option>
  </select>
  <select class="form-control" (change)="onSelectStop($event)">
    <option value=""></option>
    <option *ngFor="let stop of stops" [value]="stop.Id">{{ stop.Name }}</option>
  </select>
</div>
<div *ngFor="let fullStop of fullStops" class="form-group">
  <div style="width: 33%; float: left;">
      <p>{{fullStop.stopName}}</p>
      <div *ngFor="let bus of fullStop.result" style="margin: 5px;" class="text-center">
          <p [ngClass]="bus.serviceName">{{ bus.serviceName }} {{ bus.dueIn }}</p>
      </div>
  </div>
</div>
